# Exclude compiled files
*.so
*.d
*.pcm
.paf/
*.pyc
combine_logger.out

# Exclude files by emacs
*~
.~*

# Exclude downloaded Datasets
Datasets/

# Others
.DS_Store
*temp*/
jobs/*
inputdata.root
plotter/TW*/temp*/*
plotter/TW*/results/*
plotter/TW*/logs/*
plotter/TW*/old/*

#Higgs combine output :)
higgsCombine*.root
higgsCombinefit_*.root
roostats-*
LCurve*
